* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(78, 155, 228);
  font-size: 12px;
}

*:focus {
  outline: none; /*remove blue focus when clicking components*/
}

.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1px;
}

#login-form {
  max-width: 800px;
  margin: auto; 
  background-color: rgba(0,0,0,0.2);
  padding: 10px;
}
#login-form input {
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  border: 0;
}
#login-form button {
  border-radius: 15px;
  padding: 5px;
  border: 0;
  cursor: pointer;
  width: 13%;
}
.chat-container {
  display: none;
  max-width: 800px;
  max-height: 430px;
  margin: auto; /* To center in the middle */
  position: relative;
  height: 500px;
}

.chat-title {
  background-color: rgb(237, 237, 237);
  padding: 10px;
}

.message-list-container {
  background-color: rgb(226, 120, 120);
  height: 100%; 
  overflow-y: scroll; /* Add scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.message-container {
  background-color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto; /*break words automatically when text wraps*/
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  margin-bottom: 7px;
}

.our {
  background-color: rgb(220,248,198);
}

.message-username {
  font-weight: bold;
}

.chat-form {
  background-color: rgb(209, 218, 215);
  padding: 10px;
}

.chat-form input {
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  border: 0;
  width: 85%;
}

.chat-form button {
  border-radius: 15px;
  padding: 5px;
  border: 0;
  cursor: pointer;
  width: 13%;
}

.chat-form button:hover {
  background-color: azure;
}
