* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(78, 155, 228);
  font-size: 12px;
}

.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1px;
}

#chat-container {
  min-height: 400px;
  max-width: 500px;
  background: #fff;
  margin: auto; /* To center in the middle */
  position: relative;
}

#chat-title {
  background-color: rgb(168, 206, 231);
  min-height: 25px;
  max-width: 500px;
}

#chat-list {
  background-color: rgb(226, 120, 120);
  height: 350px;
  overflow-y: scroll; /* Add scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}


#chat-form {
  position: absolute;
  bottom: 0;
  min-height: 25px;
  width: 500px;
  background-color: aquamarine;
  text-align: left;
}

#chat-form input {
  position: absolute;
  right: 50px;
  height: 25px;
  width: 450px;
  border-radius: 6px;
}

#chat-form button{
  position: absolute;
  right: 10px;
  top: 3px;
  border-radius: 6px;
}

/* 
.header a {
  color: #fff;
  text-decoration: none;
}

.message {
  background-color: aquamarine;
} */